<a href="https://colab.research.google.com/github/ikanx101/G-Colab/blob/main/John_Smith_Problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
rm(list=ls())

In [38]:
library(stringdist)
library(stringr)
library(readxl)
df = read_excel("many_john_smiths.xlsx")

In [39]:
str(df)

tibble [10 × 8] (S3: tbl_df/tbl/data.frame)
 $ CustomerID     : num [1:10] 1 2 3 4 5 6 7 8 9 10
 $ FirstName      : chr [1:10] "John" "Jhon" "J" "John" ...
 $ LastName       : chr [1:10] "Smith" "Smith" "Smith" "Smith" ...
 $ Title          : chr [1:10] "Mr" "Mr" "Mr." "Mr" ...
 $ AddressLine1   : chr [1:10] "12 Acadia Rd" "12 Arcadia Road" "12 Acadia Ave" "13 Kynaston Rd" ...
 $ AddressSuburb  : chr [1:10] "Burnton" "Bernton" "Burnton" "Burnton" ...
 $ AddressPostcode: chr [1:10] "9671" "967" "867`1" "9671" ...
 $ Phone          : chr [1:10] "1234 5678" "1233 5678" "1233 567" "34561234" ...

In [40]:
df

   CustomerID FirstName LastName Title AddressLine1     AddressSuburb
1   1         John      Smith    Mr    12 Acadia Rd     Burnton
2   2         Jhon      Smith    Mr    12 Arcadia Road  Bernton
3   3         J         Smith    Mr.   12 Acadia Ave    Burnton
4   4         John      Smith    Mr    13 Kynaston Rd   Burnton
5   5         John      Smith    Dr    NA               Burnton
6   6         John      S        Dr.   12 Kinaston Road Bernton
7   7         Jon       Smith    Mr.   13 Kinaston Rd   Barnston
8   8         John      Smith    Dr    12 Aracadia St   Brenton
9   9         John      Smith    Mr    13 Acacia Ave    Burnside
10 10         John      Smith    Dr    12 Kingsford Rd  Burnton
   AddressPostcode Phone
1  9671            1234 5678
2  967             1233 5678
3  867`1           1233 567
4  9671            34561234
5  9671            34561233
6  9677            34561223
7  9761            36451223
8  9761            12345666
9  8961            67231231
10 9671            89624328

In [44]:
d_new = stringsimmatrix(paste0(df$FirstName,df$LastName,df$AddressLine1,
df$AddressPostcode,df$AddressSuburb,df$Phone),method = "cosine")
d_new

   1         2         3         4         5         6         7
1  1.0000000 0.9529928 0.9191892 0.8698061 0.7901744 0.8673284 0.8748935
2  0.9529928 1.0000000 0.9034703 0.8404077 0.7731113 0.8942037 0.8772277
3  0.9191892 0.9034703 1.0000000 0.7698449 0.7512531 0.7781678 0.8026133
4  0.8698061 0.8404077 0.7698449 1.0000000 0.9011041 0.9140313 0.9585414
5  0.7901744 0.7731113 0.7512531 0.9011041 1.0000000 0.8096409 0.8545060
6  0.8673284 0.8942037 0.7781678 0.9140313 0.8096409 1.0000000 0.9478411
7  0.8748935 0.8772277 0.8026133 0.9585414 0.8545060 0.9478411 1.0000000
8  0.9148533 0.9165588 0.8785765 0.8387582 0.8096409 0.8478261 0.8635886
9  0.8579542 0.8539326 0.9194621 0.7427461 0.7565344 0.7280252 0.7825384
10 0.8796856 0.8505747 0.7485897 0.8625237 0.7879789 0.8718486 0.8663978
   8         9         10
1  0.9148533 0.8579542 0.8796856
2  0.9165588 0.8539326 0.8505747
3  0.8785765 0.9194621 0.7485897
4  0.8387582 0.7427461 0.8625237
5  0.8096409 0.7565344 0.7879789
6  0.8478261 0.7280252 0.8718486
7  0.8635886 0.7825384 0.8663978
8  1.0000000 0.8417791 0.8047833
9  0.8417791 1.0000000 0.7369555
10 0.8047833 0.7369555 1.0000000

In [45]:
#similarity = 1 - distance
similarity <- round(d_new,2)
sim_matrix <- as.matrix(similarity)
sim_matrix

   1    2    3    4    5    6    7    8    9    10
1  1.00 0.95 0.92 0.87 0.79 0.87 0.87 0.91 0.86 0.88
2  0.95 1.00 0.90 0.84 0.77 0.89 0.88 0.92 0.85 0.85
3  0.92 0.90 1.00 0.77 0.75 0.78 0.80 0.88 0.92 0.75
4  0.87 0.84 0.77 1.00 0.90 0.91 0.96 0.84 0.74 0.86
5  0.79 0.77 0.75 0.90 1.00 0.81 0.85 0.81 0.76 0.79
6  0.87 0.89 0.78 0.91 0.81 1.00 0.95 0.85 0.73 0.87
7  0.87 0.88 0.80 0.96 0.85 0.95 1.00 0.86 0.78 0.87
8  0.91 0.92 0.88 0.84 0.81 0.85 0.86 1.00 0.84 0.80
9  0.86 0.85 0.92 0.74 0.76 0.73 0.78 0.84 1.00 0.74
10 0.88 0.85 0.75 0.86 0.79 0.87 0.87 0.80 0.74 1.00

In [46]:
#convert to upper triangular to prevent double counting
sim_matrix[lower.tri(sim_matrix)] <- 0
#set diagonals to zero to avoid comparing row to itself
diag(sim_matrix) <- 0
sim_matrix

   1 2    3    4    5    6    7    8    9    10
1  0 0.95 0.92 0.87 0.79 0.87 0.87 0.91 0.86 0.88
2  0 0.00 0.90 0.84 0.77 0.89 0.88 0.92 0.85 0.85
3  0 0.00 0.00 0.77 0.75 0.78 0.80 0.88 0.92 0.75
4  0 0.00 0.00 0.00 0.90 0.91 0.96 0.84 0.74 0.86
5  0 0.00 0.00 0.00 0.00 0.81 0.85 0.81 0.76 0.79
6  0 0.00 0.00 0.00 0.00 0.00 0.95 0.85 0.73 0.87
7  0 0.00 0.00 0.00 0.00 0.00 0.00 0.86 0.78 0.87
8  0 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.84 0.80
9  0 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.74
10 0 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00

In [49]:
nlargest <- function(m, n) {
res <- order(m, decreasing = T)[seq_len(n)];
pos <- arrayInd(res, dim(m), useNames = TRUE);
list(values = m[res],
position = pos)
}

In [48]:
top_n <- 5
sim_list <- nlargest(sim_matrix,top_n)
sim_list

$values
[1] 0.96 0.95 0.95 0.92 0.92

$position
     row col
[1,]   4   7
[2,]   1   2
[3,]   6   7
[4,]   1   3
[5,]   2   8

In [50]:
for (i in 1:top_n){
rec <- as.character(df[sim_list$position[i],])
sim_rec <- as.character(df[sim_list$position[i+top_n],])
cat("score: ",sim_list$values[i],"\n")
cat("record 1: ",rec,"\n")
cat ("record 2: ",sim_rec,"\n\n")
}

score:  0.96
record 1:  4 John Smith Mr 13 Kynaston Rd Burnton 9671 34561234
record 2:  7 Jon Smith Mr. 13 Kinaston Rd Barnston 9761 36451223

score:  0.95
record 1:  1 John Smith Mr 12 Acadia Rd Burnton 9671 1234 5678
record 2:  2 Jhon Smith Mr 12 Arcadia Road Bernton 967 1233 5678

score:  0.95
record 1:  6 John S Dr. 12 Kinaston Road Bernton 9677 34561223
record 2:  7 Jon Smith Mr. 13 Kinaston Rd Barnston 9761 36451223

score:  0.92
record 1:  1 John Smith Mr 12 Acadia Rd Burnton 9671 1234 5678
record 2:  3 J Smith Mr. 12 Acadia Ave Burnton 867`1 1233 567

score:  0.92
record 1:  2 Jhon Smith Mr 12 Arcadia Road Bernton 967 1233 5678
record 2:  8 John Smith Dr 12 Aracadia St Brenton 9761 12345666