<a href="https://colab.research.google.com/github/ikanx101/G-Colab/blob/main/NIM_ITB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# algoritma scrape data NIM dan nama mahasiswa ITB
rm(list=ls())
library(dplyr)
library(jsonlite)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [ ]:
# ambil data
# dapat dari mana json nya?
# cek XHR di network nimfinder.tools
data = read_json("https://nim-finder-81831.firebaseio.com/-MHB-WfrZXdjUDVZBG-T/.json")

In [ ]:
n = length(data)
fin_data = data.frame(
  jurusan = c(),
  nama = c(),
  tpb = c()
)

[1] 3

In [ ]:
for(i in 1:n){
  if(length(data[[i]]) == 3){
    dummy = data.frame(
      nama = data[[i]]$name,
      jurusan = data[[i]]$jurusan,
      tpb = data[[i]]$tpb
    )
  }else{
    dummy = data.frame(
      nama = data[[i]]$name,
      jurusan = NA,
      tpb = data[[i]]$tpb
    )
  }
  fin_data = rbind(fin_data,dummy)
}

In [ ]:
str(fin_data)

'data.frame':	30937 obs. of  3 variables:
 $ jurusan: chr  "10213064" "10213018" "10513066" "10113002" ...
 $ nama   : chr  "Rizky Ayu Ryani Putri" "Ardi Mohamad" "Fonna Dista Maisa Pusporini" "Alissa Rani Putri" ...
 $ tpb    : chr  "16013001" "16013002" "16013003" "16013004" ...

In [ ]:
write.csv(fin_data,"data nim itb.csv")