<a href="https://colab.research.google.com/github/ikanx101/G-Colab/blob/main/Soal_Pembagian_Culanap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
soal = function(x,y){
real = x/y
bulat = floor(real)
r = round((real-bulat)*y)
Jawab = paste0(bulat," R ",r)
return(Jawab)
}

In [34]:
x1 = sample(100:200,5)
y1 = sample(9,5)

In [35]:
data.frame(x1,y1,jawab=soal(x1,y1))

  x1  y1 jawab
1 191 2  95 R 1
2 181 6  30 R 1
3 124 1  124 R 0
4 178 4  44 R 2
5 174 5  34 R 4